body {
    background-color: #26006E;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    color: white;
}

#title {
    text-align: center;
}

#score {
    font-size: 24px;
}

#score {
    display: flex;
    justify-content: space-evenly;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: auto;
    gap: 80px;
}

.selection:hover {
    transform: scale(1.05);
}

.selection {
    border: solid cyan 4px;
    border-radius: 50px;
    height: 30%;
    cursor: pointer;
}

#message {
    text-align: center;
    font-size: 100px;
}

#footer {
    margin-top: auto;
    text-align: center;
    padding: 16px;
    background-color: darkslategray;
}